*.o
*.swp
~*
*~
nethack-3.4.3/*
!nethack-3.4.3/Files
!nethack-3.4.3/util
nethack-3.4.3/util/*
!nethack-3.4.3/util/lev_main.c
!nethack-3.4.3/dat
nethack-3.4.3/dat/*
!nethack-3.4.3/dat/Makefile
!nethack-3.4.3/dat/dungeon.def
!nethack-3.4.3/win
nethack-3.4.3/win/*
!nethack-3.4.3/win/win32
nethack-3.4.3/win/win32/*
!nethack-3.4.3/win/win32/levcomp.dsp
nethack-343-src.tgz
java_starter_package/.classpath
java_starter_package/.project
java_starter_package/Bot.jar
diffusion_bot/.classpath
diffusion_bot/.project
diffusion_bot/Bot.jar
bot_log
nh_log
tags
*.pyc
*.class
.metadata
